Example 1

Create variable of all types, print values and types of all variables.

In [1]:
print("HELLO")

HELLO

In [2]:
i = 10
print("The data type of i is ", type(i))

The data type of i is  <class 'int'>

In [3]:
x = 'abc'
print("The data type of x is ", type(x))

The data type of x is  <class 'str'>

In [4]:
z = 2+3j
print("The data type of z is ", type(z))

The data type of z is  <class 'complex'>

In [5]:
j = 0.9
print("The data type of j is ", type(j))

The data type of j is  <class 'float'>

In [6]:
check = True
print("The data type of check is ", type(check))

The data type of check is  <class 'bool'>

Example 02: 
Take input from user(two numbers) and perfrom all arithmetic and logical operations on it and print results.

In [7]:
num1 = input("Enter 1st Number = ")
num1

'22'

"input" function always takes input in string data type, So we have to convert it into integer data type to perform arithmetic operations

In [8]:
num1 = int(num1)
num1

22

In [9]:
num2 = int(input("Enter 2nd Number = "))
num2

12

In [10]:
num2 = int(num2)
num2

12

Addition

In [14]:
add = num1 + num2
add

34

Subtraction

In [15]:
Sub = num1 - num2
Sub

10

Multiplication

In [16]:
Mul = num1 * num2
Mul

264

Division

In [17]:
Div = num1 / num2
Div

1.8333333333333333

Mod

In [18]:
Mod = num1%num2
Mod

10

Exponent

In [19]:
exp = num1**num2
exp

12855002631049216

In [20]:
x1 = input('Enter 1st number = ')
y1 = input('Enter 2nd number = ')
x=int(x1)
y=int(y1)
add=x+y
sub=x-y
mul=x*y
div=x/y
mod=x%y
exp=x**y
a=x and y
b=x or y
c=not x 
#print
print("The addition of numbers is ",add) 
print("The subtraction of numbers is ", sub) 
print("The multiplication of numbers is ",mul) 
print("The division of numbers is ",div) 
print("The modulus of numbers is ", mod) 
print("The exponent of numbers is ",exp) 
print("The AND of numbers is ",a) 
print("The OR of numbers is ",b)
print("The NOT of numbers is ",c)

The addition of numbers is  33
The subtraction of numbers is  -9
The multiplication of numbers is  252
The division of numbers is  0.5714285714285714
The modulus of numbers is  12
The exponent of numbers is  46005119909369701466112
The AND of numbers is  21
The OR of numbers is  12
The NOT of numbers is  False

Example 03: Take a string (a long Statement) from user

Find the length of the string

Display the first and last character of the string

Capitalize all alphabets

Split string in to words (split using ‘ ’)

count the occurrence of an Alphabet (i.e : a)

replace the second word of a string with ‘Artificial’

reverse the complete string

In [21]:
longStr=input("Enter a long string : ")
longStr

"Hi my  name is Dania Ayub. I'm Computer Engineering student at KICSIT."

In [22]:
print(f"The length of given string is {len(longStr)} includig spaces.")

The length of given string is 70 includig spaces.

In [23]:
print("The first character of the given string is ", longStr[0])

The first character of the given string is  H

In [24]:
print(f"The last character of the given string is {longStr[-1]}")

The last character of the given string is .

In [25]:
print(f"The given string in upper case : \n {longStr.upper()}")

The given string in upper case :
 HI MY  NAME IS DANIA AYUB. I'M COMPUTER ENGINEERING STUDENT AT KICSIT.

In [26]:
print(f"The splited string : \n {longStr.split(' ')}")

The splited string :
 ['Hi', 'my', '', 'name', 'is', 'Dania', 'Ayub.', "I'm", 'Computer', 'Engineering', 'student', 'at', 'KICSIT.']

In [27]:
print(f"In the given string 'a' has occured : {longStr.count('a')} ")

In the given string 'a' has occured : 4

In [31]:
print("The replaced string is up: ",longStr.replace('Hi','Artifical'))

The replaced string is up:  Artifical my  name is Dania Ayub. I'm Computer Engineering student at KICSIT.

In [35]:
print(f"The reversed string is : {longStr[::-1]}")

The reversed string is : .TISCIK ta tneduts gnireenignE retupmoC m'I .buyA ainaD si eman  ym iH

Example 04:

Take three integer input from user in a single line and find the average

In [36]:
x, y, z=input('Enter three numbers with spaces to distinguish them = ').split(' ')
x1 = int(x)
x2 = int(y)
x3 = int(z)

avg=(x1+x2+x3)/3
print("The average of the numbers entered is = ", avg)

The average of the numbers entered is =  4.0

Example 05:

Create a list of 10 values

Display the elements of a list

Update the value of 3rd index

Reverse the list

Add 2 more elements in 2nd index and print list

Pop element of 1 index and display list

In [37]:
list=[1,2, 'A', 'Aqsa',3,4, 'E', 'Esha', 'Ayesha', 'Ayra']
list

[1, 2, 'A', 'Aqsa', 3, 4, 'E', 'Esha', 'Ayesha', 'Ayra']

In [38]:
list[2]='B'

print("The updated list with element of 3rd index = ",list)

The updated list with element of 3rd index =  [1, 2, 'B', 'Aqsa', 3, 4, 'E', 'Esha', 'Ayesha', 'Ayra']

In [39]:
print("The reversed list is :",list[::-1])

The reversed list is : ['Ayra', 'Ayesha', 'Esha', 'E', 4, 3, 'Aqsa', 'B', 2, 1]

In [40]:
list.insert(1,45)

list.insert(1,66)

print("The list after inserting elements of 2nd index is :",list)

The list after inserting elements of 2nd index is : [1, 66, 45, 2, 'B', 'Aqsa', 3, 4, 'E', 'Esha', 'Ayesha', 'Ayra']

In [41]:
list.pop(0)

print("The list after popping element of 1st index is :", list)

The list after popping element of 1st index is : [66, 45, 2, 'B', 'Aqsa', 3, 4, 'E', 'Esha', 'Ayesha', 'Ayra']

In [50]:
name = "Dania Ayub"
age = 21
color = "Black";
print(" My Name is ",name)
print(" My Age is ",age)
print(" My Favourite color is",color)

 My Name is  Dania Ayub
 My Age is  21
 My Favourite color is Black

In [52]:
ask = input(" Enter your name :")
ask

'Dania Ayub'

Example 06: Dictionary

Create dictionary

Display dictionary

Print keys and value separately

Insert new key-value pair

Copy dictionary into new dictionary

In [53]:
mydict={ "Artifical" : "made or produced by human beings rather than occurring naturally, especially as a copy of something",
        "Intelligence" : "the ability to acquire and apply knowledge and skills.",
        2021: "The current year"}
mydict

{'Artifical': 'made or produced by human beings rather than occurring naturally, especially as a copy of something',
 'Intelligence': 'the ability to acquire and apply knowledge and skills.',
 2021: 'The current year'}

In [54]:
print(f"The keys in the given Dictionary are \n {mydict.keys()}")

The keys in the given Dictionary are
 dict_keys(['Artifical', 'Intelligence', 2021])

In [55]:
print(f"The values in the given Dictionary are \n {mydict.values()}")

The values in the given Dictionary are
 dict_values(['made or produced by human beings rather than occurring naturally, especially as a copy of something', 'the ability to acquire and apply knowledge and skills.', 'The current year'])

In [56]:
print("The original dictionary is\n\n", mydict)

updatedict={"Ali": "Height/limit/shore/Remote/Farthest",
            "laboratory":"a room or building equipped for scientific experiments, research, or teaching, or for the manufacture of drugs or chemicals"}

print("\n Inserting new key pair in dictionary \n\nUpdated Dictionary is \n")

mydict.update(updatedict)

print(mydict)

The original dictionary is

 {'Artifical': 'made or produced by human beings rather than occurring naturally, especially as a copy of something', 'Intelligence': 'the ability to acquire and apply knowledge and skills.', 2021: 'The current year'}

 Inserting new key pair in dictionary

Updated Dictionary is

{'Artifical': 'made or produced by human beings rather than occurring naturally, especially as a copy of something', 'Intelligence': 'the ability to acquire and apply knowledge and skills.', 2021: 'The current year', 'Ali': 'Height/limit/shore/Remote/Farthest', 'laboratory': 'a room or building equipped for scientific experiments, research, or teaching, or for the manufacture of drugs or chemicals'}

In [57]:
dictCopy = mydict.copy()

dictCopy

{'Artifical': 'made or produced by human beings rather than occurring naturally, especially as a copy of something',
 'Intelligence': 'the ability to acquire and apply knowledge and skills.',
 2021: 'The current year',
 'Ali': 'Height/limit/shore/Remote/Farthest',
 'laboratory': 'a room or building equipped for scientific experiments, research, or teaching, or for the manufacture of drugs or chemicals'}

Example 07: Decision Making Statements

Compare a and b and display weather a is greater than, less than or equal to b where a=5 and b=2

In [58]:
a = 5
b = 2

if a > b:
    print("a is greater then b")
elif b > a:
    print("a is less then b")
else:
    print("a and b are equal")

a is greater then b

Compare a and b and display weather a is greater than, less than or equal to, take values of a and b from the user

In [60]:
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))

if a > b:
    print("a is greater then b")
elif b > a:
    print("a is less then b")
else:
    print("a and b are equal")

a is less then b

Example 08: For Loop

Implement for loop, remove newline, inserting character/symbol in between characters using print statement.

In [61]:
print("Implementing for loop :")

for i in "PYTHON":
    print (i)

print("\n\nRemoving Newline from print statement : ")

for i in "PYTHON":
    print (i,end='')

print("\n\nAdding different characters/symbol in print statement: ")

for i in "PYTHON":
    print (i, end='*')

Implementing for loop :
P
Y
T
H
O
N


Removing Newline from print statement :
PYTHON

Adding different characters/symbol in print statement:
P*Y*T*H*O*N*

Perform the above task with list

In [63]:
list = [1,2,3,4,5,6]

print("Implementing for loop :")

for i in list:
    print (i)

print("\n\nRemoving Newline from print statement : ")

for i in list:
    print (i,end='')

print("\n\nAdding different characters/symbol in print statement: ")

for i in list:
    print (i, end='*')

Implementing for loop :
1
2
3
4
5
6


Removing Newline from print statement :
123456

Adding different characters/symbol in print statement:
1*2*3*4*5*6*

By using for loop print counting from 1 to 10 and later change the step size.

In [65]:
for i in range(1, 11):
    print(i)

print("\nafter chnaging the step size to 2\n")

for i in range(1, 11, 2):
    print(i)

1
2
3
4
5
6
7
8
9
10

after chnaging the step size to 2

1
3
5
7
9

Print table of any number entered by the user by using for loop

In [66]:
a = int(input("Enter the number for which you want to print table: "))

for i in range(1, 11):
    print(f"{a}  *  {i} =  {i*a}")

2  *  1 =  2
2  *  2 =  4
2  *  3 =  6
2  *  4 =  8
2  *  5 =  10
2  *  6 =  12
2  *  7 =  14
2  *  8 =  16
2  *  9 =  18
2  *  10 =  20

Print the keys of a dictionary using for loop

In [67]:
mydict={ "Artifical" : "made or produced by human beings rather than occurring naturally, especially as a copy of something",
        "Intelligence" : "the ability to acquire and apply knowledge and skills.",
        2021: "The current year"}

for i in mydict:
    print(i)

Artifical
Intelligence
2021

Print the values of a dictionary

In [68]:
mydict={ "Artifical" : "made or produced by human beings rather than occurring naturally, especially as a copy of something",
        "Intelligence" : "the ability to acquire and apply knowledge and skills.",
        2021: "The current year"}

for i in mydict:
    print(mydict[i])

made or produced by human beings rather than occurring naturally, especially as a copy of something
the ability to acquire and apply knowledge and skills.
The current year

Print complete dictionary

In [69]:
mydict={ "Artifical" : "made or produced by human beings rather than occurring naturally, especially as a copy of something",
        "Intelligence" : "the ability to acquire and apply knowledge and skills.",
        2021: "The current year"}

for i in mydict:
    print(i, ":", mydict[i])

Artifical : made or produced by human beings rather than occurring naturally, especially as a copy of something
Intelligence : the ability to acquire and apply knowledge and skills.
2021 : The current year

Print even numbers in the range of 1 to 100

In [70]:
for i in range(1, 101):
    if i%2 == 0:
        print(i, end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

Print even numbers amongst the range of 1 to 101 with a step size of 5 and count them

In [71]:
count = 0
for i in range(1, 101, 5):
    if i%2 == 0:
        print(i, end=",")
        count +=1
print("\nthe total number is ", count)

6,16,26,36,46,56,66,76,86,96,
the total number is  10

Print a list using for loop by taking input from the user